server:
  address: 0.0.0.0
  port: 8082

spring:
  datasource:
    url: "jdbc:h2:mem:user"
    username: "test"
    password: "test"
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
